<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <h3>Archit Patel / N01619682</h3>
    </header>

    <!-- Main Content Section -->
    <main>
      {{{body}}} <!-- This is where the content from index.hbs or error.hbs will be injected -->
    </main>

    <!-- Footer Section -->
    <footer>
      <p>Contact: <a href="mailto:architpatelasp@gmail.com">architpatelasp@gmail.com</a></p>
    </footer>
  </body>
</html>
